<footer>
  <div class="container">
    <div class="footer__content flex">

      <div class="links">
        <p><a href="">Support</a></p>
        <p><a href="">Privacy Policy</a></p>
        <p><a href="">Do Not Share My Personal Information</a></p>
        <p><a href="">Website Terms of Use</a></p>
        <p><a href="">Sitemap</a></p>
        <p><a href="">PlayStation Studios</a></p>
        <p><a href="">Legal</a></p>
        <p><a href="">About SIE</a></p>
      </div>

      <div class="links">
        <p><a href="">PSN Terms of Service</a></p>
        <p><a href="">PS Store Cancellation Policy</a></p>
        <p><a href="">Health Warnings</a></p>
        <p><a href="">About Ratings</a></p>
      </div>

      <div class="links ">
        <p><a href="">Support</a></p>
        <p><a href="">Privacy Policy</a></p>
        <p><a href="">Do Not Share My Personal Information</a></p>
        <p><a href="">Website Terms of Use</a></p>
        <p><a href="">Sitemap</a></p>
        <p><a href="">PlayStation Studios</a></p>
        <p><a href="">Legal</a></p>
        <p><a href="">About SIE</a></p>
      </div>

    </div>
  </div>
</footer>
