.banner__info {
  color: white;
  position: absolute;
  bottom: 50px;
  width: 400px;
  right: 0;
  padding: 15px 50px;
  background-color: rgba(0, 0, 0, 0.604);
}

h1,
h2 {
  margin-bottom: 10px;
}

.flex {
  align-items: end;
}

.banner-info__value__money {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .banner__info {
    position: inherit;
    margin-top: -10px;
    width: 100vw !important;
    padding: 15px 50px;
  }
}
