.banner {
  position: relative;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  padding: 0;
}

.banner img {
  width: 100%;
  padding: 75px 0 5px;
  border-radius: 0 10px 10px 0;
}

img,
img::after {
  transition: all 0.8s;
}

img:hover {
  transform: scale(1.05);
}

@media (max-width: 970px) {
  .banner img {
    width: 100vw;
  }
}

@media (max-width: 700px) {
  .banner img {
    margin-left: -50px;
    width: 160vw;
  }
}
