<div class="home__container container flex">
  <app-card
  gameCover="assets/bt-1.jpg"
  gameLabel="Exclusive"
  gameCTA="Play It Now!"
  gameType="Full Game | PS4"
  gamePrice="$ 59.99"
  ></app-card>
  <app-card
  gameCover="assets/bt-4.jpg"
  gameLabel=""
  gameCTA="Buy Now!"
  gameType="Full Game | PS4"
  gamePrice="$ 59.99"
  ></app-card>
  <app-card
  gameCover="assets/bt-5.jpg"
  gameLabel="Exclusive"
  gameCTA="Play It Now!"
  gameType="Digital Game | PS4 | PS3 | PS Vita"
  gamePrice="$ 14.99"
  ></app-card>
  <app-card
  gameCover="assets/ac-cover.jpg"
  gameLabel="Exclusive"
  gameCTA="Play It Now!"
  gameType="Full Game | PS4"
  gamePrice="$ 59.99"
  ></app-card>
  <app-card
  gameCover="assets/bt-bad-company-2.jpg"
  gameLabel=""
  gameCTA="Buy Now!"
  gameType="Full Game | PS4"
  gamePrice="$ 59.99"
  ></app-card>
  <app-card
  gameCover="assets/bt-hardline.jpg"
  gameLabel="Exclusive"
  gameCTA="Play It Now!"
  gameType="Digital Game | PS4 | PS3 | PS Vita"
  gamePrice="$ 14.99"
  ></app-card>
</div>
